body {

    background-color: #64485c;
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    color: #F3E8EB;
    height:100vh ;
    height: 100% ;
    

}

.header{
    color:##ADADAD;
    
}
.me-content{
  color:#501b1d;
}

.me-content2{
    color:#501b1d;
}
.me-content3{
    color:#501b1d;
}

.footer{
    height: 100px;
    margin: 40px 40px 40px 40px;
    padding: 150px;
    position:relative;
    text-align: center;
}